@use '../../styles/colors';
@use '../../styles/scrollbars';
@use '../../styles/mixins';

.wrapper {
  position: relative;
}
.dropdown {
  width: 94%;
  max-height: 4rem;
  padding: .5rem;
  overflow-y: auto;
  border-top: none;
  z-index: 10000;

  @include scrollbars.brand-scrollbar();

  .statusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .retryHint {
    @include mixins.visuallyHidden();
  }
  .resultItem {
    &Text {
      padding: .25rem;
      border-radius: 5px;
      display: block;
      color: colors.$accent;
      width: 100%;
      text-decoration: none;
    }
    &Text:focus {
      background: colors.$primary;
      color: colors.$background;
    }
  }
}

.selectedItems {
  display: flex;
  flex-wrap: wrap;
  width: 300%;
  max-height: 8rem;
  overflow: auto;
}
.selectedItem {
  margin: .5rem;
  padding: .25rem;
  border-radius: 5px;
  background: colors.$primary;
  color: colors.$background;
}
