@use '../../styles/colors';

.icon {
    color: colors.$secondary;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.requirementsList {
    animation: fade-in .5s ease-in-out;
    margin-top: .5rem;
    li {
        margin-top: .3rem;
    }
    &.visible {
        display: block;
    }
}

.item {
  transition: opacity .5s ease-in-out;
}
.itemIncomplete {
  opacity: .5;
  user-select: none;
}
.itemComplete {
  opacity: 1;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
