@use './colors';
@use './media';

.main {
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  width: 90%;
  margin-top: .5rem;

  @include media.mediaQuery('desktop') {
    width: 50%;
  }
}

.conversation {
  display: flex;
  max-width: 70%;
  height: auto;

  @include media.mediaQuery('desktop') {
    max-width: 20%;
  }
}
.mascot {
  max-width: 50%;
  height: auto;
  transform: scaleX(-1);
}

.speechBubble {
  padding: .5rem 0;
  border-radius: 20px;
  margin: .5rem;
  border: 2px solid colors.$secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepNav {
  display: flex;
  gap: .5rem;
}

.progressBar {
  width: 90%;
  margin-top: .5rem;

  @include media.mediaQuery('desktop') {
    width: 50%;
  }
}

.stepBtns {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.searchInputWrap {
  max-width: 80%;
}
.searchInput {
  width: 100%;
}

.inputs {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4rem;
}
