@use '../../styles/colors';
@use '../../styles/media';
@use '../../styles/mixins';

.nav {
  padding: 1rem;
  background: colors.$primary;
  position: sticky;
  top: 0;
}

.mobileSearchToggle {
  @include media.mediaQuery('desktop') {
    display: none;
  }
}
.logo {
  max-width: 20%;
  height: auto;
  @include media.mediaQuery('desktop') {
    max-width: 10%;
  }
}

.desktopSearch {
  display: none;
  margin-left: 3rem;
  @include media.mediaQuery('desktop') {
    display: initial;
  }
}
.logoWithText {
  color: colors.$background;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.topBar {
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  &SearchActive {
    justify-content: center;
  }
}
.list {
  width: 90%;
  margin: 0 .5rem;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  @include media.mediaQuery('desktop') {
    justify-content: flex-start;
    gap: 2rem;
    .logOutBtn {
      margin-left: auto;
    }
  }
}
.desktopSearch {
  display: none;
  @include media.mediaQuery('desktop') {
    display: initial;
  }
}
  @include media.mediaQuery('mobile') {
    .linkText {
    @include mixins.visuallyHidden();
  }
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @include media.mediaQuery('tablet', 'desktop') {
    justify-content: flex-start;
    gap: 1rem;
  }
}

.link {
  text-decoration: none;
  color: colors.$background;

  &:hover {
    text-decoration: underline;
  }
}


